@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-pink: hsl(275, 100%, 97%);
  --color-grayish-purple: hsl(292, 16%, 49%);
  --color-purple: hsl(292, 42%, 14%) ;
}

body {
  min-height: 100vh;
  background-color: var(--color-light-pink);
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image-container {
  min-height: 232px;
  height: 322px;
  background-image: url(./assets/images/background-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.faq-card-container {
  position: static;
  z-index: 2;
  padding: 40px;
  border-radius: 1rem;
  min-width: 327px;
  max-width: 600px;
  width: 80%;
  background-color: var(--color-white);
}

.faq-card-container h1 {
  color: var(--color-purple);
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 56px;
  gap: 24px;
  margin-bottom: 32px;
}

.row-container {
  width: 100%;
  border-bottom: 1px solid var(--color-grayish-purple);
  padding: 24px 0;
}

.question-container {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-purple);
  font-weight: 600;
  cursor: pointer;
}

.question-container:hover {
  color:#ad28eb;
  transition: color .4s ease-in-out;
}

.answer-container {
  color: var(--color-grayish-purple);
  line-height: 1.5;
  padding-bottom: 0px;
  height: 0px;
  overflow: hidden;
}

.close {
  animation: close;
  animation-duration: .1s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes close {
  0% {
    height: auto;
  }

  100% {
    height: 0px;
  }
}

.open {
  animation-name: open;
  animation-duration: .8s;
  animation-fill-mode: forwards;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes open {
  0% {
    height: 0px;
  }
  
  20% {
    height: 15px;
  }
  
  40% {
    height: 30px;
    
  }
  
  60% {
    height: 45px;
    
  }
  
  80% {
    height: 60px;

  }

  100% {
    height: auto;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  color: var(--color-purple);
  background-color: var(--color-light-pink);
}

footer a {
  text-decoration: none;
  color: var(--color-grayish-purple);
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 645px) {
  
  .faq-card-container {
    padding: 24px;
    border-radius: 0.5rem;
  }

  .faq-card-container h1 {
    font-size: 32px;
  }

  .question-container {
    font-size: 16px;
  }

  .answer-container {
    font-size: 14px;
  }
}
